<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Update Checker</title>
  </head>
  <body>
	<div class="table-responsive">
		<table class="table table-striped table-hover">
		<caption>Update Checker Results</caption>
		<thead class="thead-dark"><tr><th scope="col">Software</th><th scope="col">Status</th><th scope="col">Installed Version</th><th scope="col">Recent Version</th></tr></thead>
		<tbody>
		{{range $v := .}}
  			<tr>
   				<th scope="row">{{$v.Name}}</th>
			    <td> {{if eq $v.Status 0}} <div class="alert alert-danger" role="alert">Outdated</div>
				     {{else if eq $v.Status 1}} <div class="alert alert-success" role="alert">Up-to-date</div>
					 {{else}} <div class="alert alert-light" role="alert">Unkown status</div>{{end}}</td>
				<td> {{$v.InstalledSoftware.DisplayVersion}}</td>
				<td> {{$v.MappedStatus.Version}}</td>
  			</tr>
			{{end}}
			</tbody>
		</table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>